<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css"  href="/static/css/style.css"/>
		<script type="text/javascript" src="/static/js/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		
		<title>KDD Cup from Tencent</title>
	</head>
	<body>
		<div class="nav">
			<div class="wrap_990">
				<a href="#" class="nav_logo"><img alt="KDD Cup" src="/static/images/logo.png"/></a>
				<ul>
					<li><a href="/index.html">Home</a><span>|</span></li>
					<li><a href="/add">Submission</a><span>|</span></li>
					<li><a href="/queue/page1/">Recent Submissions</a><span>|</span></li>
				</ul>
			</div>
		</div>
		<div class="content_wrap wrap_990 clearfix" style="padding-top:20px;padding-bottom:25px;">
			<div class="regis_success">
				<div class="success_bg">
					<p class="submission_sus_tip">Did you forget to attach the file? or forgot to provide an email?</p>
				</div>
			</div>
		</div>
		<div class="footer wrap_990 ">
			<p class="section_footer">Terms of Service - Privacy Policy - Contest Rules - Help</p>
			<p class="section_footer">&copy; 2012 Tencent - KDD Cup</p>
		</div>
	</body>
</html>
