<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css"  href="css/style.css"/>
		<script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		
		<title>KDD Cup from Tencent</title>
	</head>
	<body>
		<div class="nav">
			<div class="wrap_990">
				<a href="#" class="nav_logo"><img alt="KDD Cup" src="images/logo.png"/></a>
				<ul>
					<li><a href="#" class="current">Home</a><span>|</span></li>
					<li><a href="/add">Submission</a><span>|</span></li>
					<li><a href="/leaderboard">Leaderboard</a><span>|</span></li>
					<li><a href="/recentsubmission">recent submissions</a><span>|</span></li>
				</ul>
			</div>
		</div>
	</body>
</html>
