<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css"  href="css/style.css"/>
		<script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		
		<title>Leaderboard--KDD Cup from Tencent</title>
	</head>
	<body>
		<div class="nav">
			<div class="wrap_990">
				<a href="#" class="nav_logo"><img alt="KDD Cup" src="images/logo.png"/></a>
				<ul>
					<li><a href="index">Home</a><span>|</span></li>
					<li><a href="add">Submission</a><span>|</span></li>
					<li><a href="#" class="current">Leaderboard</a><span>|</span></li>
					<li><a href="recentsubmission">recent submissions</a><span>|</span></li>
				</ul>
			</div>
		</div>
		<div class="map3">
			<img src="images/map4.png" />
		</div>
		<div class="track1_box">
			<div class="choice1 clearfix">Display top <select class="leaderboard_select"><option value="15">15</option><option default value="20">20</option><option value="25">25</option><option value="30">30</option></select> in Track1 <a  href="" class="btn_refresh">refresh</a></div>
			<div>
				<table>
					<thead>
						<tr><th class="rank">Rank</th><th class="t_name">Team Name</th><th class="score">Best Score(RMSE)</th><th class="score_test2">Best Score on Datatest Test2( RMSE )</th></tr>
					</thead>
					<tbody>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>
						<tr><td class="td1">1</td><td>National Taiwan University</td><td class="tr">21.0147</td><td class="tr">21.0004</td></tr>		
					</tbody>
				</table>
			</div>
		</div>
		<div class="footer wrap_990 ">
			<p class="section_footer">Terms of Service - Privacy Policy - Contest Rules - Help</p>
			<p class="section_footer">&copy; 2012 Tencent - KDD Cup</p>
		</div>
	</body>
</html>
